# Ignorar instalador do Chrome
*.deb

# Ignorar pastas de perfil e cache do navegador (isso é o que está enchendo seu status)
perfil_tjsp/
perfil_tjsp/**
BrowserMetrics/
GPUCache/
Cache/

# Ignorar logs e arquivos temporários
*.log
*.pma
*.txt
.env

# Ignorar dependências (se houver)
node_modules/
__pycache__/
